vs2003_cd02/Program Files/Microsoft Visual Studio .NET 2003/SDK/v1.1/QuickStart/winforms/samples/data/update/cs/UpdateCustomers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customersDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="SaveSoapIn">
    <part name="parameters" element="s0:Save" />
  </message>
  <message name="SaveSoapOut">
    <part name="parameters" element="s0:SaveResponse" />
  </message>
  <portType name="UpdateCustomersSoap">
    <operation name="Save">
      <input message="s0:SaveSoapIn" />
      <output message="s0:SaveSoapOut" />
    </operation>
  </portType>
  <portType name="UpdateCustomersHttpGet" />
  <portType name="UpdateCustomersHttpPost" />
  <binding name="UpdateCustomersSoap" type="s0:UpdateCustomersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Save" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="UpdateCustomersHttpGet" type="s0:UpdateCustomersHttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="UpdateCustomersHttpPost" type="s0:UpdateCustomersHttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="UpdateCustomers">
    <port name="UpdateCustomersSoap" binding="s0:UpdateCustomersSoap">
      <soap:address location="http://localhost/quickstart/winforms/samples/data/Update/CS/UpdateCustomers.asmx" />
    </port>
    <port name="UpdateCustomersHttpGet" binding="s0:UpdateCustomersHttpGet">
      <http:address location="http://localhost/quickstart/winforms/samples/data/Update/CS/UpdateCustomers.asmx" />
    </port>
    <port name="UpdateCustomersHttpPost" binding="s0:UpdateCustomersHttpPost">
      <http:address location="http://localhost/quickstart/winforms/samples/data/Update/CS/UpdateCustomers.asmx" />
    </port>
  </service>
</definitions>