vs2003_cd02/Program Files/Microsoft Visual Studio .NET 2003/Vb7/VB Samples/WebServices-WinFormClient-AsyncWebService/AsynchWebService/AsyncTestClient/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoSomeWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSomeWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSomeWorkResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="DoSomeWorkSoapIn">
    <part name="parameters" element="s0:DoSomeWork" />
  </message>
  <message name="DoSomeWorkSoapOut">
    <part name="parameters" element="s0:DoSomeWorkResponse" />
  </message>
  <portType name="Service1Soap">
    <operation name="DoSomeWork">
      <input message="s0:DoSomeWorkSoapIn" />
      <output message="s0:DoSomeWorkSoapOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="DoSomeWork">
      <soap:operation soapAction="http://tempuri.org/DoSomeWork" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/AsyncWebService/Service1.asmx" />
    </port>
  </service>
</definitions>