vs2003_cd02/Program Files/Microsoft Visual Studio .NET 2003/SDK/v1.1/QuickStart/aspplus/samples/services/soapheaders/js/SoapHeaders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SecureMethod">
        <s:complexType />
      </s:element>
      <s:element name="SecureMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecureMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sHeader" type="s0:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="SecureMethodSoapIn">
    <part name="parameters" element="s0:SecureMethod" />
  </message>
  <message name="SecureMethodSoapOut">
    <part name="parameters" element="s0:SecureMethodResponse" />
  </message>
  <message name="SecureMethodsHeader">
    <part name="sHeader" element="s0:sHeader" />
  </message>
  <portType name="HeaderServiceSoap">
    <operation name="SecureMethod">
      <documentation>This method requires a custom soap header set by the caller</documentation>
      <input message="s0:SecureMethodSoapIn" />
      <output message="s0:SecureMethodSoapOut" />
    </operation>
  </portType>
  <portType name="HeaderServiceHttpGet" />
  <portType name="HeaderServiceHttpPost" />
  <binding name="HeaderServiceSoap" type="s0:HeaderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SecureMethod">
      <soap:operation soapAction="http://tempuri.org/SecureMethod" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:SecureMethodsHeader" part="sHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="HeaderServiceHttpGet" type="s0:HeaderServiceHttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="HeaderServiceHttpPost" type="s0:HeaderServiceHttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="HeaderService">
    <documentation>Simple sample to demonstrate use of SOAP Headers</documentation>
    <port name="HeaderServiceSoap" binding="s0:HeaderServiceSoap">
      <soap:address location="http://localhost/quickstart/aspplus/samples/services/SoapHeaders/JS/SoapHeaders.asmx" />
    </port>
    <port name="HeaderServiceHttpGet" binding="s0:HeaderServiceHttpGet">
      <http:address location="http://localhost/quickstart/aspplus/samples/services/SoapHeaders/JS/SoapHeaders.asmx" />
    </port>
    <port name="HeaderServiceHttpPost" binding="s0:HeaderServiceHttpPost">
      <http:address location="http://localhost/quickstart/aspplus/samples/services/SoapHeaders/JS/SoapHeaders.asmx" />
    </port>
  </service>
</definitions>